.container
  .row
    .box
      img(src="https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg")
      .user
        img(src="https://i0.wp.com/www.engage-innovate.com/wp-content/uploads/2019/01/Jolene-Foo-Profile-Square.jpg?ssl=1")
        .info
          p 頻道名稱
          p 實況主名稱

    .box
      img(src="https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg")
      .user
        img(src="https://i0.wp.com/www.engage-innovate.com/wp-content/uploads/2019/01/Jolene-Foo-Profile-Square.jpg?ssl=1")
        .info
          p 頻道名稱
          p 實況主名稱

    .box
      img(src="https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg")
      .user
        img(src="https://i0.wp.com/www.engage-innovate.com/wp-content/uploads/2019/01/Jolene-Foo-Profile-Square.jpg?ssl=1")
        .info
          p 頻道名稱
          p 實況主名稱

    .box
      img(src="https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg")
      .user
        img(src="https://i0.wp.com/www.engage-innovate.com/wp-content/uploads/2019/01/Jolene-Foo-Profile-Square.jpg?ssl=1")
        .info
          p 頻道名稱
          p 實況主名稱

    .box
      img(src="https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg")
      .user
        img(src="https://i0.wp.com/www.engage-innovate.com/wp-content/uploads/2019/01/Jolene-Foo-Profile-Square.jpg?ssl=1")
        .info
          p 頻道名稱
          p 實況主名稱

    .box
      img(src="https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg")
      .user
        img(src="https://i0.wp.com/www.engage-innovate.com/wp-content/uploads/2019/01/Jolene-Foo-Profile-Square.jpg?ssl=1")
        .info
          p 頻道名稱
          p 實況主名稱

    .box
      img(src="https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg")
      .user
        img(src="https://i0.wp.com/www.engage-innovate.com/wp-content/uploads/2019/01/Jolene-Foo-Profile-Square.jpg?ssl=1")
        .info
          p 頻道名稱
          p 實況主名稱

    .box
      img(src="https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg")
      .user
        img(src="https://i0.wp.com/www.engage-innovate.com/wp-content/uploads/2019/01/Jolene-Foo-Profile-Square.jpg?ssl=1")
        .info
          p 頻道名稱
          p 實況主名稱

    .box
      img(src="https://static-cdn.jtvnw.net/ttv-static/404_preview-320x180.jpg")
      .user
        img(src="https://i0.wp.com/www.engage-innovate.com/wp-content/uploads/2019/01/Jolene-Foo-Profile-Square.jpg?ssl=1")
        .info
          p 頻道名稱
          p 實況主名稱